body {
    background-color: #e0fbfc;
    color: #1D1D1D;
    background-image: url(https://images2.imgbox.com/a4/f5/gkpZIQ6o_o.png); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: auto 50%; 
}

#ui-bar {
    background-color: #ffffff;
    color: #1D1D1D;
}

.passage {
    background-color: #ffffff;
    color: #1D1D1D;
    position: relative; 
    top: 150px; 
    border-color: black;
    border-width: 2px;
    padding: 30px;
} 

.link-internal {
    background-color: #d7f7f7;
    color: black;
    padding: 5px 5px;
    text-align: center;
}

.link-internal:hover {
    border-color: black;
    border-width: 2px;
    background-color: grey;
    color: white;
    padding: 5px 5px;
    text-align: center;
}

#menu li a {
	color: black;
}
#menu li a:hover {
	color: white;
}

#ui-bar-toggle {
    color: black;
}

#ui-bar-toggle:hover {
    color: white;
}

#ui-dialog-titlebar {
    background-color: white;
    color: black
}

#saves-list {
    background-color: white;
    color: black
}

#ui-dialog-body {
    background-color: white;
}

#menu-item-restart {
	display: none;
} 

#menu-item-saves {
    display:none;
}

video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }

img {
    width: 100% !important;
    height: auto !important;
}